<ion-header>
  <ion-toolbar>
    <ion-title>Mes favoris</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" vertical-align="middle" *ngIf="recipeNames.length === 0">
    <h1>Vous n'avez pas de favoris</h1>
  </ion-text>
  <ion-list>
    <ion-item *ngFor="let recipeName of recipeNames" routerLink="/details/{{recipeName.id}}">
      <ion-img style="max-width: 15%; max-height: 10%; margin:auto; align-items: center;" [src]=recipeName.image></ion-img>
      <ion-label>{{recipeName.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
