<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <!--<ion-button (click)="goBackToPreviousPage()"><ion-icon slot="icon-only" name="arrow-round-back"></ion-icon></ion-button>-->
      <ion-back-button defaultHref="/" routerLink="/home" text="Acceuil" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addToFavourites()">
          <ion-icon slot="icon-only" *ngIf="isInFavoris" name="heart"></ion-icon>
          <ion-icon slot="icon-only" *ngIf="!isInFavoris" name="heart-empty"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap ion-text-center"><strong><font size="+2">{{recipe.title}}</font></strong></ion-label>
  </ion-item>
  <ion-img style="max-width: 40%; height: auto; margin:auto;" [src]="myImage"></ion-img>
  <ion-list>
    <ion-item>
      <ion-label><strong>Tout sélectionner</strong></ion-label>
      <ion-checkbox slot="start" 
      [(ngModel)]="masterCheck"
      [indeterminate]="isIndeterminate"
      (click)="checkMaster($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let ingredient of ingredients">
      <ion-label class="ion-text-wrap">{{ingredient.name}}</ion-label>
      <ion-checkbox slot="start" 
      [(ngModel)]="ingredient.isChecked" 
      (ionChange)="checkEvent()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="oneBoxChecked" translucent="true">
  <ion-toolbar>
    <ion-button expand="block" (click)="addToCart();showAlert()">Ajouter au panier</ion-button>
  </ion-toolbar>
</ion-footer>